### Data preprocessing part

In [2]:
# source: https://www.kaggle.com/ntnu-testimon/paysim1
import os
import pandas as pd
import numpy as np

df = pd.read_csv("PS_20174392719_1491204439457_log.csv", na_values=['NA', '?'])
df = df.reindex(np.random.permutation(df.index))
df[:5]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4065965,300,PAYMENT,248.49,C2057673880,0.00,0.00,M1497015863,0.00,0.00,0,0
1522806,153,PAYMENT,31950.36,C1158752251,0.00,0.00,M666669982,0.00,0.00,0,0
500042,20,CASH_OUT,135064.50,C1466938605,102803.00,0.00,C1368955366,100902.31,309331.46,0,0
2228827,186,CASH_IN,37892.23,C134585600,3206761.25,3244653.48,C1440652678,16982645.60,16944753.37,0,0
5909289,404,CASH_OUT,244205.16,C2000871940,0.00,0.00,C1081496869,653339.63,897544.79,0,0

In [2]:
from sklearn.preprocessing import LabelEncoder

#no need for this one
df.pop('isFlaggedFraud')


enc = LabelEncoder()

def columnEncoder(columns):
    for column_name,space in columns:
        enc.fit(df[column_name])
        enc_type = enc.transform(df[column_name])
        df.insert(space,"encoded_" + column_name,enc_type)
        df.pop(column_name)

change = [['nameOrig',4],['nameDest',7],['type',1]]

col_enc = columnEncoder(change)


df[:5]

,step,encoded_type,amount,encoded_nameOrig,oldbalanceOrg,newbalanceOrig,encoded_nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,3,9839.64,757869,170136.0,160296.36,1662094,0.0,0.0,0
1,1,3,1864.28,2188998,21249.0,19384.72,1733924,0.0,0.0,0
2,1,4,181.00,1002156,181.0,0.00,439685,0.0,0.0,1
3,1,1,181.00,5828262,181.0,0.00,391696,21182.0,0.0,1
4,1,3,11668.14,3445981,41554.0,29885.86,828919,0.0,0.0,0

In [6]:
#from sklearn.utils import resample
dfLegit = df[df.isFraud == 0]
#dfLegit = df.apply(lambda x: True if x['isFraud'] == 0 else False , axis=1)
dfFraud = df[df.isFraud == 1]
dfLegit[:5]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4065965,300,PAYMENT,248.49,C2057673880,0.00,0.00,M1497015863,0.00,0.00,0,0
1522806,153,PAYMENT,31950.36,C1158752251,0.00,0.00,M666669982,0.00,0.00,0,0
500042,20,CASH_OUT,135064.50,C1466938605,102803.00,0.00,C1368955366,100902.31,309331.46,0,0
2228827,186,CASH_IN,37892.23,C134585600,3206761.25,3244653.48,C1440652678,16982645.60,16944753.37,0,0
5909289,404,CASH_OUT,244205.16,C2000871940,0.00,0.00,C1081496869,653339.63,897544.79,0,0

In [14]:
print(dfFraud.shape)
print(dfLegit.shape)

(8213, 11)
(6354407, 11)
(6362620, 11)

In [17]:
dfLegit = dfLegit.head(8213)

In [23]:
undersampled = pd.concat([dfLegit,dfFraud])
undersampled

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4065965,300,PAYMENT,248.49,C2057673880,0.00,0.00,M1497015863,0.00,0.00,0,0
1522806,153,PAYMENT,31950.36,C1158752251,0.00,0.00,M666669982,0.00,0.00,0,0
500042,20,CASH_OUT,135064.50,C1466938605,102803.00,0.00,C1368955366,100902.31,309331.46,0,0
2228827,186,CASH_IN,37892.23,C134585600,3206761.25,3244653.48,C1440652678,16982645.60,16944753.37,0,0
5909289,404,CASH_OUT,244205.16,C2000871940,0.00,0.00,C1081496869,653339.63,897544.79,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3257999,251,CASH_OUT,345425.57,C1514359401,345425.57,0.00,C648222182,208488.90,553914.47,1,0
4645128,330,CASH_OUT,19692.68,C1577076013,19692.68,0.00,C546495530,0.00,19692.68,1,0
4387723,313,CASH_OUT,124121.57,C2024192922,124121.57,0.00,C742155073,413610.96,537732.53,1,0
5786175,400,TRANSFER,1191669.35,C2039894074,1191669.35,0.00,C2014043913,0.00,0.00,1,0
5987587,409,CASH_OUT,10000000.00,C97242201,10000000.00,0.00,C786701128,8496.86,10008496.86,1,0

In [24]:
from sklearn.preprocessing import LabelEncoder

undersampled.pop("isFlaggedFraud")

enc = LabelEncoder()
def columnEncoder(columns):
    for column_name,space in columns:
        enc.fit(undersampled[column_name])
        enc_type = enc.transform(undersampled[column_name])
        undersampled.insert(space,"encoded_" + column_name,enc_type)
        undersampled.pop(column_name)

change = [['nameOrig',4],['nameDest',7],['type',1]]

undersampled_enc = columnEncoder(change)

In [41]:
undersampled = undersampled.reindex(np.random.permutation(undersampled.index))
undersampled[:5]

,step,encoded_type,amount,encoded_nameOrig,oldbalanceOrg,newbalanceOrig,encoded_nameDest,oldbalanceDest,newbalanceDest,isFraud
6264971,613,4,2155569.91,3654,2155569.91,0.00,3334,0.00,0.00,1
4763822,334,3,22578.38,3380,11358.56,0.00,16024,0.00,0.00,0
58168,9,3,6852.41,9828,125653.69,118801.28,15841,0.00,0.00,0
5988240,414,1,537641.80,7755,537641.80,0.00,1111,55732.77,593374.56,1
4555803,327,1,155473.06,9122,0.00,0.00,9114,468658.74,624131.80,0

In [42]:
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

x = np.array(undersampled.iloc[:,:8])
y = np.array(undersampled.iloc[:,9])
x[:5]

array([[6.13000000e+02, 4.00000000e+00, 2.15556991e+06, 3.65400000e+03,
        2.15556991e+06, 0.00000000e+00, 3.33400000e+03, 0.00000000e+00],
       [3.34000000e+02, 3.00000000e+00, 2.25783800e+04, 3.38000000e+03,
        1.13585600e+04, 0.00000000e+00, 1.60240000e+04, 0.00000000e+00],
       [9.00000000e+00, 3.00000000e+00, 6.85241000e+03, 9.82800000e+03,
        1.25653690e+05, 1.18801280e+05, 1.58410000e+04, 0.00000000e+00],
       [4.14000000e+02, 1.00000000e+00, 5.37641800e+05, 7.75500000e+03,
        5.37641800e+05, 0.00000000e+00, 1.11100000e+03, 5.57327700e+04],
       [3.27000000e+02, 1.00000000e+00, 1.55473060e+05, 9.12200000e+03,
        0.00000000e+00, 0.00000000e+00, 9.11400000e+03, 4.68658740e+05]])

In [43]:
from keras.utils import np_utils

# convert integers to dummy variables (i.e. one hot encoded)
one_hot = np_utils.to_categorical(y)
one_hot[:5]

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [44]:
X_train, X_test, y_train, y_test = train_test_split(x,one_hot,test_size=0.25,random_state=42)

### Training part

In [65]:
from keras.models import Sequential
from keras.layers.core import Dense

model = Sequential()
 #You might try varying the activation function, and/or the number of hidden units
model.add(Dense(60, input_dim=x.shape[1], activation='sigmoid'))
 #you might experiment with a second hidden layer
model.add(Dense(20, activation='sigmoid'))
model.add(Dense(one_hot.shape[1],activation='softmax'))

In [71]:
#compile the model setting the loss (error) measure and the optimizer
model.compile(loss='categorical_crossentropy', optimizer='adam')
#Fir the model, you might change the number of epochs training is run for.
model.fit(X_train,y_train,verbose=2,epochs=30)

Epoch 1/30
 - 1s - loss: 0.2020
Epoch 2/30
 - 0s - loss: 0.2000
Epoch 3/30
 - 1s - loss: 0.1980
Epoch 4/30
 - 1s - loss: 0.1974
Epoch 5/30
 - 1s - loss: 0.1919
Epoch 6/30
 - 1s - loss: 0.1900
Epoch 7/30
 - 1s - loss: 0.1882
Epoch 8/30
 - 1s - loss: 0.1876
Epoch 9/30
 - 0s - loss: 0.1868
Epoch 10/30
 - 1s - loss: 0.1873
Epoch 11/30
 - 1s - loss: 0.1868
Epoch 12/30
 - 1s - loss: 0.1857
Epoch 13/30
 - 1s - loss: 0.1830
Epoch 14/30
 - 0s - loss: 0.1817
Epoch 15/30
 - 0s - loss: 0.1802
Epoch 16/30
 - 0s - loss: 0.1807
Epoch 17/30
 - 0s - loss: 0.1840
Epoch 18/30
 - 0s - loss: 0.1769
Epoch 19/30
 - 0s - loss: 0.1689
Epoch 20/30
 - 0s - loss: 0.1683
Epoch 21/30
 - 0s - loss: 0.1725
Epoch 22/30
 - 0s - loss: 0.1695
Epoch 23/30
 - 1s - loss: 0.1695
Epoch 24/30
 - 1s - loss: 0.1673
Epoch 25/30
 - 1s - loss: 0.1663
Epoch 26/30
 - 0s - loss: 0.1656
Epoch 27/30
 - 1s - loss: 0.1681
Epoch 28/30
 - 1s - loss: 0.1753
Epoch 29/30
 - 0s - loss: 0.1783
Epoch 30/30
 - 1s - loss: 0.1754

In [69]:
import keras.backend as K

print(K.eval(model.optimizer.lr))

0.001

In [67]:
#make predictions (will give a probability distribution)
pred = model.predict(X_test) 
pred[:5]

array([[0.99895406, 0.00104589],
       [0.00225021, 0.99774975],
       [0.9914101 , 0.00858991],
       [0.9935136 , 0.0064864 ],
       [0.9956306 , 0.00436941]], dtype=float32)

In [68]:

#now pick the most likely outcome
pred = np.argmax(pred,axis=1)
y_compare = np.argmax(y_test,axis=1) 
from sklearn import metrics
accuracy = metrics.accuracy_score(y_compare, pred)
precision = metrics.average_precision_score(y_compare, pred)
print("Accuracy score: {}".format(accuracy))
print("precision score: {}".format(precision))

Accuracy score: 0.9320672023374726
precision score: 0.9195348497289092

In [49]:
y_test_1d = np.argmax(y_test, axis=1)
y_test_1d[:5]

array([0, 1, 0, 0, 0])

In [76]:
from sklearn.metrics import classification_report, confusion_matrix
import matplotlib.pyplot as plt
%matplotlib inline
# from sklearn.metrics import plot_confusion_matrix # change to v.0.22 to have this one
import seaborn as sn

cm = confusion_matrix(y_test_1d, pred)
print('Confusion matrix, without normalization')
print(cm)

sn.heatmap(cm) # font size
plt.show()

TypeError: confusion_matrix() got an unexpected keyword argument 'normalize'